body{
    max-width: 700%;
    min-width:100%;
}


#logo {
 width: 5%;
 margin-top: 1%;
 margin-left: 2%;

}

 #song{
    margin-left: 2%;
    margin-top: 3%;
    width: 200%;
    max-width: 70%;
    border-radius: 30px;
    
}  

#video2 {
    margin-left: 77%;
    width: 100%;
    margin-top: -35%;
    
}
video {
    border-radius: 20px;
}